<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<meta charset="utf-8">
<title>demgraphs</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/date-fns@2.25.0/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1/dist/chartjs-plugin-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/google-palette@1.1.0/palette.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.container{
  display:inline-flex;
  flex-wrap:wrap;
}
.flex-direction{
  flex-direction:row;
}
.div1{
  width:165px;
  height:132px;
}

.div2{
  width:314px;
  height:132px;
}

@media screen and (max-width: 500px) {
  .flex-direction{
  flex-direction:column;
  }
.div1{
  width:202px;
  height:131px;
  }
  .div2{
    width:202px;
    height:107px;
  }
  
}
</style>
<script>
const data = {

		
	  datasets: [
	  {% for dataset in datasetDict %}
		  {
			label: "{{dataset}}",
			data: [
			{% for time, value in datasetDict[dataset] %}
			{x: {{time}}, y:{{value}}},
			{% endfor %}
			]
		  },
	  {% endfor %}
	  ]
};


function _rebuildChart() {
	if (document.getElementById("Line").checked) {
		var plotType = 'line';
	} else {
			var plotType = 'scatter';
	}
	var temp = jQuery.extend(true, {}, config); // Chart type doesn't update dynamically, so must copy configuration and create new chart
	temp.type = plotType; 
	chart.destroy()
	chart = new Chart(document.getElementById('chart'), temp);
	chart.resetZoom(mode='none');
	chart.update('none');
}

function _setDataColors() {
	var _dataLength = data.datasets.length
	var color_seq = palette('tol', _dataLength).map(function(hex) {
		return '#' + hex;
	});
	//data.datasets[0].data.length = 0;
	for (var i = 0; i < _dataLength; i++) {
		data.datasets[i].backgroundColor = color_seq[i];
		data.datasets[i].borderColor = color_seq[i];
	}
	_rebuildChart()
}

function show() {
	let query = new URLSearchParams();
	//selector = document.getElementsByName("selector")[0].value;
	const selected = document.querySelectorAll('#selector option:checked');
	var selector = Array.from(selected).map(el => el.value);

	if (selector.length > 0) {
		query.append('selector', selector);
	} else {
		return
	}

	max_points = document.getElementsByName("max_points")[0].value;
	if (max_points > 0) {
		query.append('max_points', max_points);
	}
	//start_date = document.getElementsByName("start_date")[0].value;
	//end_date = document.getElementsByName("end_date")[0].value;
	start_date = $('#daterange').data('daterangepicker').startDate.format('YYYY-MM-DD HH:mm');
	end_date = 	$('#daterange').data('daterangepicker').endDate.format('YYYY-MM-DD HH:mm');
	<!-- Currently no checking that start date is less than end date. Have to consider case where one of start date or end_date isn't selected -->
	query.append('start_date', start_date);
	query.append('end_date', end_date);

	//start_time = document.getElementsByName("start_time")[0].value;
	//end_time = document.getElementsByName("end_time")[0].value;
	//query.append('start_time', start_time);
	//query.append('end_time', end_time);
	let request = new Request('data?' + query.toString());
	let start = performance.now()
	fetch(request).then(response => {
		if (response.status === 200) {
			return response.json();
		} else {
			throw new Error("non 200 response: " + response.status);
		}
	}).then(response => {
		let end = performance.now()
		var data_length = 0
		//data.datasets[0].data.length = 0;
		dataKeys = Object.keys(response)
		data.datasets = [{}];
		for (var i = 0; i < selector.length; i++) {
			data.datasets[i] = {};
			data.datasets[i].data = [];
			data.datasets[i].label = selector[i];
			if (dataKeys.includes(selector[i])) {
				data_length += response[selector[i]].length;
				for (var j = 0; j < response[selector[i]].length; j++) {
					data.datasets[i].data.push({x: response[selector[i]][j][0], y: response[selector[i]][j][1]});
				}
			}
		}
		document.getElementById("response").innerText = "Loaded " + data_length + " results in " + (end - start)+ " ms";
		document.getElementById('permalink').value = location.protocol+'//'+location.host+location.pathname + '?display=true&' + query.toString();
		_setDataColors()
	}).catch(error => {
		console.error(error);
	});
}
</script>
<body>
<form>
<label>Permanent Link <input type="url" id="permalink" name="permalink" value={{url_value}} size="80" readonly></label> <br>
<div class="none" id="daterange" style="background: #fff; cursor: pointer; padding: 1px 10px; border: 1px solid #ccc; width: fit-content">
<span></span>
</div>
<label>Max points <input id="max_points" name="max_points" type="number" value="1000" disabled></label> <label>Skip every <input name="skip_every" type="number" value="1" disabled></label><br>
<label>Line plot? <input type="checkbox" id="Line" name="Line" {% if line_plot_check %} checked=true {% endif %}></label><br>
<label>Auto refresh?<input type="checkbox" id="autorefreshID" onclick='_autoRefresh();'></label><label>Refresh interval (s) (min 5s) <input id="refresh_interval" type="number" value="60" style="width: fit-content"></label><br>
<input type="button" value="Show" onClick="show();">
<hr>
<span id="response"></span>
<div class="container flex-direction" style="display: flex;">
        <div class="div1">
            <label>Dataset <select id="selector" name="selector" multiple>
			{% for groupName in groupNamesDict %}
				<optgroup label = {{groupName}}>
				{% for dataName, currSelected in groupNamesDict[groupName] %}
					{% if groupName == 'Other' %}
						<option value = {{dataName}} {% if currSelected %} selected=true {% endif %}>{{dataName}}</option>
					{% else %}
						<option value = {{groupName + '.' + dataName}} {% if currSelected %} selected=true {% endif %}>{{dataName}}</option>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</select></label>
        </div>
		<div class="chart-container" style="position: relative; height:40vh; width:80vw">
			<canvas id="chart"></canvas>
		</div>
		
</div>
<script>
$(function() {

    var start = moment("{{start_date[0]}}"); //moment().subtract(1, 'days');
    var end = moment("{{end_date[0]}}"); //moment();

    function cb(start, end) {
        $('#daterange span').html(start.format('MM/DD/YY hh:mm A') + ' - ' + end.format('M/DD/YY hh:mm A'));
    }

    $('#daterange').daterangepicker({
        startDate: start,
        endDate: end,
        timePicker: true,
        ranges: {
           'Last 5 Minutes': [moment().subtract(5,'minutes'), moment()],
           'Last 15 Minutes': [moment().subtract(15,'minutes'), moment()],
           'Last 30 Minutes': [moment().subtract(15,'minutes'), moment()],
           'Last Hour': [moment().subtract(1,'hours'), moment()],
           'Last 6 Hours': [moment().subtract(6,'hours'), moment()],
           'Last 12 Hours': [moment().subtract(12,'hours'), moment()],
           'Last 24 Hours': [moment().subtract(1, 'days'), moment()],
           'Last 3 Days': [moment().subtract(3,'days'), moment()],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 14 Days': [moment().subtract(14,'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'Last 6 Months': [moment().subtract(6, 'month'), moment()],
           'Last Year': [moment().subtract(1, 'year'), moment()],
		   'Last 3 Years': [moment().subtract(3, 'year'), moment()],
           'All time': [moment(0), moment()]
        }
    }, cb);

    cb(start, end);

});
</script>
<script>
const config = {
	type: 'scatter',
	data: data,
	options: {
		scales: {
			x: {
				type: "time",
				time: {
                    displayFormats: {
                        hour: 'h:mm a M/d/yyyy'
						}
					}
				}
		},
		animation: {
			duration: 0
		},
		plugins: {
		  zoom: {
			zoom: {
			  wheel: {
				enabled: true,
				speed: 0.05,
			  },
			  pinch: {
				enabled: true
			  },
			  mode: 'xy',
			},
			pan: {
				enabled: true,
				mode: 'xy',
			}
		  }
	  }
	}
};

var chart = new Chart(
  document.getElementById('chart'),
  config
);
</script>
<script>
var _interval = 0
function _autoRefresh() {
	if (document.getElementById("autorefreshID").checked) {
		_refreshInterval = Math.max(5000, 1000*document.getElementById("refresh_interval").value)
		_interval = setInterval(show, _refreshInterval);
	} else if (_interval != 0 && !(document.getElementById("autorefreshID").checked)) {
		clearInterval(_interval);
	}
}

</script>
<script>
{% if showData %}
	_setDataColors()
{% endif %}
document.getElementById('permalink').value = window.location.href;
_autoRefresh();
</script>

</form>
